.main{
  display: flex;
  justify-content: center;
  text-align: center;
}

.box{
  border: 1px solid black;
  width: 400px;
  height: 500px;
}

.item-img{
  width: 300px;
}

.WIN{
  border: 10px solid blue;
}

.LOSE{
  border: 10px solid red;
}

.TIE{
  border: 10px solid green;
}